{
    "presets": [
        ["env", { "modules": false }],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-decorators",
        "transform-react-inline-elements",
        "lodash"
    ]
}
